<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{> title}}

  <style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

    table {
      border-spacing: 0;
    }

    td {
      padding: 0;
    }

    img {
      border: 0;
    }
  </style>
</head>

<body style="margin: 0">
  <div class="wrapper" style="width: 100%; table-layout: fixed; padding: 20px 0">
    <table class="main" width="100%" style="
          max-width: 600px;
          margin: 0 auto;
          background-color: #fff;
          font-family: 'Arial', sans-serif;
        ">
      <!-- LOGO TOP -->
      <tr>
        <td class="logo-bottom" style="padding: 20px 30px;">
          <a href="https://www.ladybugschool.com">
            <img src='https://res.cloudinary.com/dzxnpdr2t/image/upload/v1729956780/Logo_Main_1_fhzyzg.png' width='142px' />
          </a>
        </td>
      </tr>

      <!-- TEXT CONTENT -->
      <tr>
        <td style="padding: 20px 30px; font-size: 16px; color:#344054; line-height: 24px;">
          {{> content}}
        </td>
      </tr>

      <!-- LOGO FOOTER -->
      <tr>
        <td class="logo-bottom" style="padding: 20px 30px;">
          <a href="https://www.ladybugschool.com">
            <img src='https://res.cloudinary.com/dzxnpdr2t/image/upload/v1729956780/Logo_Main_hviapu.png' width='107px' />
          </a>
        </td>
      </tr>

    </table>
  </div>
</body>

</html>