{{#> layout}}
{{#*inline "title"}}
<title>OTP Request</title>
{{/inline}}

{{#*inline "content"}}

<p>
  Hi {{ name }},
</p>
<p>
  You recently requested a one-time password (OTP) to check in for your visit. Please use the OTP below to proceed:
</p>
<h3>
  {{ code }}
</h3>
<p>
  This code is valid for 10 minutes. Please enter this code to confirm your check in for the visit.
</p>
<p>
  If you did not request this code or have any concerns, please contact support at {{ adminContactInfo }} immediately.
</p>
<p>
  Best regards,
</p>
<p>
  The SparkCare Team
</p>

{{/inline}}
{{/layout}}