{{#> layout}}
{{#*inline "title"}}
<title>Password Reset Request</title>
{{/inline}}

{{#*inline "content"}}

<p>
  The following user in your company has requested a password reset to be performed for their account:
</p>
<p>
  <strong>Full Name:</strong> {{ caregiverName }}<br>
  <strong>Email Address:</strong> {{ email }}
</p>
<p>
  Consider contacting this user to validate that this request is authentic before continuing.
</p>
<p>
  If you have determined that this is a valid request, use your company's admin portal to reset the password for this user.
</p>
<br />
<p>
  <a href="{{ appLink }}"
    style="background-color: #2051E5; color: white; padding: 10px 20px; text-decoration: none; font-weight: bold; border-radius: 5px; cursor: pointer;">Visit
    Portal</a>
</p>
<br />
<p>
  Best regards,
</p>
<p>
  The SparkCare Team
</p>

{{/inline}}
{{/layout}}